RewriteEngine On

RewriteRule ^$ index.html [QSA]
RewriteRule ^([^.]+)$ $1.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !/images/
RewriteRule ^(.*)$ index.php [QSA,L]
# In case of errors
ErrorDocument 500 "ERREUR"

